<div class="about-us-bannber-wrapper">
    <h1 class="about-us-bannber-text">About Us</h1>
</div>
<section class="container">
    <div class="my-5 py-5">
        <div class="">
            <p>That wonderful feeling – you start the engine and your adventure begin.</p>
            <p><a routerLink="../home">Royal Car Rentals</a> is one of the leading car rental companies
                in Pakistan established in 2005. At Royal Car Rentals everything we do is about giving you the freedom
                to discover more. We’ll move mountains to find you the right rental car, and bring you a smooth,
                hassle-free experience from start to finish.</p>
            <p>We are mainly operating in Karachi, Lahore and Islamabad catering respective surroundings.&nbsp;We
                attribute our success to innovative with modern fleet management systems and to a team of dedicated and
                experienced employees who ensure that your experience with Royal Car Rentals is always hassle-free,
                smooth and safe.</p>
            <h4>RELIABILITY AND TRUST ARE OUR PRIME PRINCIPLES.</h4>
            <p>As a result of the company’s continuous programme of excellent service, Royal Car Rentals fleet size of
                different vehicles and a dedicated team of professional staff that Our wide range of services and
                variety of vehicles are backed by our commitment to our customer’s satisfaction.</p>
            <p>The company’s activities encompass a comprehensive range of services to meet its customer’s requirements
                including daily and short-term rentals, long-term rentals, dedicated and tailored made chauffeur-driven
                services.</p>
            <p>Our aim is service excellence and building unmatched customer loyalty. With Royal Car Rentals, we ensure
                you a stress-free car rental experience.</p>
            <p>If you have any difficulty in determining your needs and deciding on the best option for your
                requirements, our professional staff will be too pleased to be of assistance</p>
        </div>

    </div>
</section>