<div class="container">
    <section class="m-5">
        <div class="mt-4">
            <h1 class="mt-4">Bookings</h1>
            <ol class="breadcrumb mb-2">
                <!-- <li class="breadcrumb-item active">admin/bookings</li> -->
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">
                            Pending Bookings
                            <span class="float-end">{{counts?.pendingBookings}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-info text-white mb-4">
                        <div class="card-body">
                            Scheduled Bookings
                            <span class="float-end">{{counts?.scheduledBookings}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">
                            Completed Bookings
                            <span class="float-end">{{counts?.completedBookings}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">
                            Calcelled Bookings
                            <span class="float-end">{{counts?.calcelledBookings}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Bookings
                </div>
                <div class="card-body p-0">
                    <div class="mat-elevation-z8">
                        <table #BookingTable="matTable" mat-table [dataSource]="bookings" matSort
                            #BookingSort="matSort">

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                            </ng-container>

                            <!-- Vehicle Name Column -->
                            <ng-container matColumnDef="vehicleId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.vehicleId }} </td>
                            </ng-container>

                            <!-- Customer Name Column -->
                            <ng-container matColumnDef="customerId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.customerId}} </td>
                            </ng-container>

                            <!-- WithDriver Column -->
                            <ng-container matColumnDef="withDriver">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> With Driver </th>
                                <td mat-cell *matCellDef="let row"> {{row.withDriver}} </td>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let row">
                                    <span class="text-light fw-bold rounded-pill py-2 px-3 text-capitalize"
                                        [ngStyle]="{'background-color': row.status === 'pending' ? '#ffc107' : (row.status === 'approved' ? '#198754' : '#dc3545') }">
                                        {{row.status}}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Start Time Column -->
                            <ng-container matColumnDef="startTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ (row.startDate | date:'shortDate') +" "+ timeSlots[row.startTime-1].text}}
                                </td>
                            </ng-container>

                            <!-- End Time Column -->
                            <ng-container matColumnDef="endTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ (row.endDate | date:'shortDate') +" "+ timeSlots[row.endTime-1].text}}
                                </td>
                            </ng-container>

                            <!-- Date Added Column -->
                            <ng-container matColumnDef="dateAdded">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Added </th>
                                <td mat-cell *matCellDef="let row"> {{row.dateAdded | date:'short'}} </td>
                            </ng-container>

                            <!-- Date Updated Column -->
                            <ng-container matColumnDef="dateUpdated">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Updated </th>
                                <td mat-cell *matCellDef="let row"> {{row.dateUpdated | date:'short'}} </td>
                            </ng-container>


                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button (click)="viewBooking(row)">
                                        <mat-icon>
                                            edit
                                        </mat-icon>
                                    </button>
                                    <!-- <button mat-icon-button (click)="deleteCustomer(row)">
                                        <mat-icon>
                                            delete
                                        </mat-icon>
                                    </button> -->
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="BookingColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: BookingColumns;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="text-center mat-cell" colspan="10">No data found.</td>
                            </tr>
                        </table>

                        <mat-paginator #BookingPaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"
                            showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>