<div class="services-us-bannber-wrapper">
    <h1 class="services-us-bannber-text">Services</h1>
</div>
<section class="container">
    <div class="my-5 py-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="services-list-wrapper">
                    <h3>FAIR PRACTICE POLICY</h3>
                    <p>
                        Royalcarrentals.pk believes in a fair business practice policy i.e we never charge more than is
                        due and try our utmost best to be fair. We are here to provide you best car rental services in
                        Pakistan.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="services-list-wrapper">
                    <h3>TOUR SERVICES</h3>
                    <p>
                        Plan your tour with your love ones do not worry about the traveling. Royalcarrentals.pk is here
                        to plan your journey with some best luxurious cars and people movers to make your tours
                        memorable
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="services-list-wrapper">
                    <h3>ONLINE BOOKING</h3>
                    <p>
                        We offer you online booking just a click away through our Website or Facebook page . Selected
                        car will be provided on your door step 24/7 365 days. We bring you experience of car rental
                        services for more then 10 successful years in all over Pakistan.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="services-list-wrapper">
                    <h3>HASSLE FREE RENTAL</h3>
                    <p>
                        Royalcarrentals.pk provides you with a hassle free car rental experience with the following
                        services on most contracts
                    </p>
                    <ul>
                        <li>Car Drop off and Pick up facility</li>
                        <li>Free backup car replacements</li>
                        <li>Easy extension of car rental agreement</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="services-list-wrapper">
                    <h3>Unlimited Miles Car Rental</h3>
                    <p>
                        Our long term rental service is a great way to get by owing a vehicle cause its basically a car
                        at your disposal 24/7. All maintenance, backup car replacement, car pick up and drop offs are
                        handled as per terms and conditions.
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="services-list-wrapper">
                    <h3>AIRPORT PICK & DROP</h3>
                    <p>
                        We offer you a wide range of luxurious cars, 4x4 SUV's, people movers for pick or drop to
                        Karachi, Lahore and Islamabad Airport.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>