<div class="container-fluid px-4">
    <h1 class="mt-4">Booking Information</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">admin/booking-detail</li>
    </ol>

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    Booking Information
                    <div class="float-end">
                        <!-- Button trigger modal -->
                        <button *ngIf="booking?.status != 'completed' && booking?.status != 'cancelled'" type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#editBookingModel" (click)="showEditModel()">
                            Change Booking Status
                        </button>
                        <!-- Button trigger modal -->
                    </div>
                </div>
                <div class="card-body">
                    <table class="table caption-top">
                        <tbody>
                            <!-- <tr>
                                <td>Booking Id </td>
                                <td>: </td>
                                <td>{{booking?.id}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr> -->
                            <tr>
                                <td>Vehicle No </td>
                                <td>: </td>
                                <td>{{booking?.vehicle?.registrationNumber}}</td>
                                <td>Vehicle Name</td>
                                <td>:</td>
                                <td>{{booking?.vehicle?.maker?.displayName +" "+ booking?.vehicle?.model?.displayName+" "+ booking?.vehicle?.modelYear}}</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>:</td>
                                <td>{{booking?.customer?.firstName + " "+booking?.customer?.lastName}}</td>
                                <td>Customer Phone# </td>
                                <td>: </td>
                                <td>0{{booking?.customer?.phoneNumber}}</td>
                            </tr>


                            <tr>
                                <td> With Driver </td>
                                <td>:</td>
                                <td>
                                    {{ booking?.withDriver }}
                                </td>
                                <td>Booking Status </td>
                                <td>:</td>
                                <td>
                                    <span class="text-light fw-bold rounded-pill pb-1 px-2 text-capitalize"
                                        [ngStyle]="{'background-color': booking?.status === 'pending' ? '#ffc107' : (booking?.status === 'approved' ? '#0dcaf0' : (booking?.status === 'completed' ? '#198754' : '#dc3545'))}">
                                        {{ booking?.status }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Start Time </td>
                                <td>:</td>
                                <td> {{ (booking.startDate | date:'shortDate') +" "+
                                    bookingService.timeSlots[booking.startTime-1].text}}</td>
                                <td>End Time </td>
                                <td>:</td>
                                <td> {{ (booking.endDate | date:'shortDate') +" "+
                                    bookingService.timeSlots[booking.endTime-1].text}}</td>
                            </tr>
                            <tr>
                                <td>Date Added </td>
                                <td>:</td>
                                <td>{{booking?.dateAdded | date:'short'}}</td>
                                <td>Date Updated </td>
                                <td>:</td>
                                <td>{{booking?.dateUpdated | date:'short'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    Booking Timeline
                </div>
                <div class="card-body">
                    <div>
                        <div class="time-line-wrapper" *ngFor="let log of bookingLogs">
                            <div class="d-flex">
                                <div class="time-line-action text-end pe-3 pb-4" style="border-right: 2px solid #858484;">
                                    <p class="m-0">{{log.dateAdded | date:'shortTime'}}</p>
                                    <p class="m-0">{{log.dateAdded | date:'mediumDate'}}</p>
                                </div>

                                <div class="text-start ps-3 position-relative">
                                    <p class="m-0">
                                        <span class="text-light fw-bold rounded-pill pb-1 px-2 text-capitalize"
                                            [ngStyle]="{'background-color': log.action.trim() === 'pending' ? '#ffc107' : (log.action.trim() === 'approved' ? '#0dcaf0' : (log.action.trim() === 'completed' ? '#198754' : (log.action.trim() === 'created' ? '#198754' : '#dc3545')))}">
                                            {{ log.action.trim() }}
                                        </span>
                                    </p>
                                    <p class="m-0">{{log.description}}</p>
                                    <span [ngStyle]="{'border-color': log.action.trim() === 'pending' ? '#ffc107' : (log.action.trim() === 'approved' ? '#0dcaf0' : (log.action.trim() === 'completed' ? '#198754' : (log.action.trim() === 'created' ? '#198754' : '#dc3545')))}" 
                                        style="border: 3px solid red;padding: 4px;border-radius: 50%;min-height: 15px;min-width: 15px;display: inline-block;position: absolute;top: 8px;left: -8px;background-color: #fff;">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Payment Details
            <div class="float-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPaymentModel"
                    (click)="showEditPaymentModel()">
                    Update Payment
                </button>
                <!-- Button trigger modal -->
            </div>
        </div>
        <div class="card-body">
            <table *ngIf="paymentObj" class="table caption-top">
                <tbody>
                    <tr></tr>
                    <tr>
                        <th>Charges</th>
                        <th>Days</th>
                        <th>Price Per Day</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>Vehicle</td>
                        <td>{{totaldays}}</td>
                        <td>{{booking.vehicle?.price | currency:'PKR'}}</td>
                        <td>{{totalPrice | currency:'PKR'}}</td>
                    </tr>
                    <tr *ngIf="booking.withDriver">
                        <td>Driver</td>
                        <td>{{totaldays}}</td>
                        <td>{{1000 | currency:'PKR'}}</td>
                        <td>{{(totaldays*1000) | currency:'PKR'}}</td>
                    </tr>
                    <tr>
                        <th>Grand Total</th>
                        <td></td>
                        <td></td>
                        <th *ngIf="!booking.withDriver">{{(totalPrice) | currency:'PKR'}}
                        </th>
                        <th *ngIf="booking.withDriver">{{(totaldays*1000 + totalPrice) |
                            currency:'PKR'}}</th>
                    </tr>
                    <tr>
                        <th>Paid Amount</th>
                        <td></td>
                        <td></td>
                        <td>{{paymentObj.paidAmount | currency:'PKR'}}</td>
                    </tr>
                    <tr>
                        <th>Discounted Amount</th>
                        <td></td>
                        <td></td>
                        <td>{{paymentObj.discountAmount | currency:'PKR'}}</td>
                    </tr>
                    <tr>
                        <th>Remaining Amount</th>
                        <td></td>
                        <td></td>
                        <th>{{(totalPrice - paymentObj.paidAmount - paymentObj.discountAmount) | currency:'PKR'}}</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Start Edit Booking Modal -->
<div class="modal fade" id="editBookingModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editBookingModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="editBookingForm" #editBookingFormDirective="ngForm" autocomplete="off"
                (ngSubmit)="changeStatus(editBookingForm.value, editBookingFormDirective)">
                <div class="modal-header">
                    <h5 class="modal-title" id="addVehicleModelLabel">Add New Vehicle</h5>
                    <button type="button" class="btn-close" #hideeditmodel data-bs-dismiss="modal" aria-label="Close"
                        (click)="resetForm(editBookingFormDirective)"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div hidden class="col-md-12">
                            <table class="table caption-top">
                                <tbody>
                                    <tr></tr>
                                    <tr>
                                        <th>Charges</th>
                                        <th>Days</th>
                                        <th>Price Per Day</th>
                                        <th>Total</th>
                                    </tr>
                                    <tr>
                                        <td>Vehicle</td>
                                        <td>{{totaldays}}</td>
                                        <td>{{booking.vehicle?.price | currency:'PKR'}}</td>
                                        <td>{{totalPrice | currency:'PKR'}}</td>
                                    </tr>
                                    <tr *ngIf="booking.withDriver">
                                        <td>Driver</td>
                                        <td>{{totaldays}}</td>
                                        <td>{{1000 | currency:'PKR'}}</td>
                                        <td>{{(totaldays*1000) | currency:'PKR'}}</td>
                                    </tr>
                                    <tr>
                                        <th>Grand Total</th>
                                        <td></td>
                                        <td></td>
                                        <td *ngIf="!booking.withDriver">{{(totalPrice) | currency:'PKR'}}
                                        </td>
                                        <td *ngIf="booking.withDriver">{{(totaldays*1000 + totalPrice) |
                                            currency:'PKR'}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div [ngClass]="booking.withDriver ? 'col-md-6' : 'col-md-12'">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Select Booking Status</mat-label>
                                <mat-select #bookingstatus matNativeControl formControlName="status" required>
                                    <mat-option>---Select Status---</mat-option>
                                    <mat-option value="pending">Pending</mat-option>
                                    <mat-option value="approved">Approved</mat-option>
                                    <mat-option value="completed">Completed</mat-option>
                                    <mat-option value="cancelled">Cancelled</mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('status', 'required')">
                                    Select Booking Status
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="booking.withDriver">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Selct Driver</mat-label>
                                <mat-select matNativeControl formControlName="driverId" required>
                                    <mat-option>---Select Driver---</mat-option>
                                    <mat-option *ngFor="let driver of drivers" [value]="driver.id">
                                        {{driver.firstName +" "+ driver.lastName}}
                                        (0{{driver.phoneNumber}})
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('driverId', 'required')">
                                    Please Select Driver
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="resetForm(editBookingFormDirective)">Cancel</button>
                    <button type="submit" [disabled]="!editBookingForm.valid || isLoading" class="btn btn-success">
                        {{ ( isLoading ? 'Loading...' : 'Update Booking') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Edit Booking Modal -->




<!-- Start Edit Payment Modal -->
<div class="modal fade" id="editPaymentModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editPaymentModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="editPaymentForm" #editPaymentFormDirective="ngForm" autocomplete="off"
                (ngSubmit)="updatePayment(editPaymentForm.value, editPaymentFormDirective)">
                <div class="modal-header">
                    <h5 class="modal-title" id="addVehicleModelLabel">Add New Vehicle</h5>
                    <button type="button" class="btn-close" #hideeditpaymentmodel data-bs-dismiss="modal"
                        aria-label="Close" (click)="resetForm(editPaymentFormDirective)"></button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Total Amount</mat-label>
                                <input readonly required matInput type="number" placeholder="4000"
                                    formControlName="totalAmount" id="totalAmount">
                                <mat-error *ngIf="hasErrorPayment('totalAmount', 'required')">
                                    Total amount is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter Paid Amount</mat-label>
                                <input #paidamount required matInput type="number" placeholder="0"
                                    formControlName="paidAmount" id="paidAmount">
                                <mat-error *ngIf="hasErrorPayment('paidAmount', 'required')">
                                    Paid amount is required
                                </mat-error>
                                <mat-error *ngIf="hasErrorPayment('paidAmount', 'pattern')">
                                    Paid amount must be greater than or equal to 0
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter Discounted Amount</mat-label>
                                <input required matInput type="number" placeholder="0" formControlName="discountAmount"
                                    id="discountAmount">
                                <mat-error *ngIf="hasErrorPayment('discountAmount', 'required')">
                                    Discounted amount is required
                                </mat-error>
                                <mat-error *ngIf="hasErrorPayment('discountAmount', 'pattern')">
                                    Discounted amount must be greater than or equal to 0
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="resetForm(editPaymentFormDirective)">Cancel</button>
                    <button type="submit" [disabled]="!editPaymentForm.valid || isLoading" class="btn btn-success">
                        {{ ( isLoading ? 'Loading...' : 'Update Booking') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Edit Payment Modal -->