.outer-card-box {
    border: 1px solid darkgrey;
    border-radius: 9px;
    padding: 12px;
}

.outer-card-box .card-box-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 180px;
}


.outer-card-box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}