<div class="container-fluid px-4">
    <h1 class="mt-4">Booking Information</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">driver/booking-detail</li>
    </ol>

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    Booking Information
                </div>
                <div class="card-body">
                    <table class="table caption-top">
                        <tbody>
                            <!-- <tr>
                                <td>Booking Id </td>
                                <td>: </td>
                                <td>{{booking?.id}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr> -->
                            <tr>
                                <td>Vehicle No </td>
                                <td>: </td>
                                <td>{{booking?.vehicle?.registrationNumber}}</td>
                                <td>Vehicle Name</td>
                                <td>:</td>
                                <td>{{booking?.vehicle?.maker?.displayName +" "+ booking?.vehicle?.model?.displayName+"
                                    "+ booking?.vehicle?.modelYear}}</td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td>:</td>
                                <td>{{booking?.customer?.firstName + " "+booking?.customer?.lastName}}</td>
                                <td>Customer Phone# </td>
                                <td>: </td>
                                <td>0{{booking?.customer?.phoneNumber}}</td>
                            </tr>


                            <tr>
                                <td> With Driver </td>
                                <td>:</td>
                                <td>
                                    {{ booking?.withDriver }}
                                </td>
                                <td>Booking Status </td>
                                <td>:</td>
                                <td>
                                    <span class="text-light fw-bold rounded-pill pb-1 px-2 text-capitalize"
                                        [ngStyle]="{'background-color': booking?.status === 'pending' ? '#ffc107' : (booking?.status === 'approved' ? '#0dcaf0' : (booking?.status === 'completed' ? '#198754' : '#dc3545'))}">
                                        {{ booking?.status }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Start Time </td>
                                <td>:</td>
                                <td> {{ (booking.startDate | date:'shortDate') +" "+
                                    bookingService.timeSlots[booking.startTime-1].text}}</td>
                                <td>End Time </td>
                                <td>:</td>
                                <td> {{ (booking.endDate | date:'shortDate') +" "+
                                    bookingService.timeSlots[booking.endTime-1].text}}</td>
                            </tr>
                            <tr>
                                <td>Date Added </td>
                                <td>:</td>
                                <td>{{booking?.dateAdded | date:'short'}}</td>
                                <td>Date Updated </td>
                                <td>:</td>
                                <td>{{booking?.dateUpdated | date:'short'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    Booking Timeline
                </div>
                <div class="card-body">
                    <div>
                        <div class="time-line-wrapper" *ngFor="let log of bookingLogs">
                            <div class="d-flex">
                                <div class="time-line-action text-end pe-3 pb-4"
                                    style="border-right: 2px solid #858484;">
                                    <p class="m-0">{{log.dateAdded | date:'shortTime'}}</p>
                                    <p class="m-0">{{log.dateAdded | date:'mediumDate'}}</p>
                                </div>

                                <div class="text-start ps-3 position-relative">
                                    <p class="m-0">
                                        <span class="text-light fw-bold rounded-pill pb-1 px-2 text-capitalize"
                                            [ngStyle]="{'background-color': log.action.trim() === 'pending' ? '#ffc107' : (log.action.trim() === 'approved' ? '#0dcaf0' : (log.action.trim() === 'completed' ? '#198754' : (log.action.trim() === 'created' ? '#198754' : '#dc3545')))}">
                                            {{ log.action.trim() }}
                                        </span>
                                    </p>
                                    <p class="m-0">{{log.description}}</p>
                                    <span
                                        [ngStyle]="{'border-color': log.action.trim() === 'pending' ? '#ffc107' : (log.action.trim() === 'approved' ? '#0dcaf0' : (log.action.trim() === 'completed' ? '#198754' : (log.action.trim() === 'created' ? '#198754' : '#dc3545')))}"
                                        style="border: 3px solid red;padding: 4px;border-radius: 50%;min-height: 15px;min-width: 15px;display: inline-block;position: absolute;top: 8px;left: -8px;background-color: #fff;">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Payment Details
        </div>
        <div class="card-body">
            <table *ngIf="paymentObj" class="table caption-top">
                <tbody>
                    <tr></tr>
                    <tr>
                        <th>Charges</th>
                        <th>Days</th>
                        <th>Price Per Day</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>Vehicle</td>
                        <td>{{totaldays}}</td>
                        <td>{{booking.vehicle?.price | currency:'PKR'}}</td>
                        <td>{{totalPrice | currency:'PKR'}}</td>
                    </tr>
                    <tr *ngIf="booking.withDriver">
                        <td>Driver</td>
                        <td>{{totaldays}}</td>
                        <td>{{1000 | currency:'PKR'}}</td>
                        <td>{{(totaldays*1000) | currency:'PKR'}}</td>
                    </tr>
                    <tr>
                        <th>Grand Total</th>
                        <td></td>
                        <td></td>
                        <th *ngIf="!booking.withDriver">{{(totalPrice) | currency:'PKR'}}
                        </th>
                        <th *ngIf="booking.withDriver">{{(totaldays*1000 + totalPrice) |
                            currency:'PKR'}}</th>
                    </tr>
                    <tr>
                        <th>Paid Amount</th>
                        <td></td>
                        <td></td>
                        <td>{{paymentObj.paidAmount | currency:'PKR'}}</td>
                    </tr>
                    <tr>
                        <th>Discounted Amount</th>
                        <td></td>
                        <td></td>
                        <td>{{paymentObj.discountAmount | currency:'PKR'}}</td>
                    </tr>
                    <tr>
                        <th>Remaining Amount</th>
                        <td></td>
                        <td></td>
                        <th>{{(totalPrice - paymentObj.paidAmount - paymentObj.discountAmount) | currency:'PKR'}}</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Booking Feedback
        </div>
        <div class="card-body">

            <div *ngIf="feedbackData.length!=0">
                <h4>Your rating and review about booking</h4>
                <div *ngFor="let feedback of feedbackData">
                    <div class="cont">
                        <div class="stars">
                            <ngx-star-rating class="float-start" [(ngModel)]="feedback.rating" [disabled]="true">
                            </ngx-star-rating>
                        </div>
                        <div> {{feedback.comment}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="feedbackData.length==0">
                <h4>Write your rating and review</h4>
                <form [formGroup]="ratingForm" #formDirective="ngForm" autocomplete="off" novalidate
                    (ngSubmit)="addFeedback(ratingForm.value, formDirective)" class="row">
                    <div class="col-md-12">
                        <ngx-star-rating class="float-start" formControlName="rating" id="rating"></ngx-star-rating>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Review</mat-label>
                            <textarea required matInput placeholder="Placeholder" formControlName="review"
                                id="review"></textarea>
                            <mat-error *ngIf="hasError('review', 'required')">Review is required</mat-error>
                            <mat-error *ngIf="hasError('review', 'minlength')">Only enter between 10 to 100
                                characters
                            </mat-error>
                            <mat-error *ngIf="hasError('review', 'maxlength')">Only enter between 10 to 100
                                characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <button type="submit" [disabled]="!ratingForm.valid" class="btn btn-success w-100 py-3 fw-bold">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>