<div class="contact-us-bannber-wrapper">
    <h1 class="contact-us-bannber-text">Contact Us</h1>
</div>
<section class="container">
    <div class="row my-5 py-5">
        <div class="col-md-6">
            <div class="" style="border: 2px solid #dedede;border-radius: 12px;padding: 2em;">
                <form [formGroup]="contactUsForm" #formDirective="ngForm" autocomplete="off" novalidate
                    (ngSubmit)="addVehicle(contactUsForm.value, formDirective)" fxLayout="column wrap"
                    fxLayoutAlign="center center" fxLayoutGap="10px" class="row g-3">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" placeholder="Placeholder" formControlName="firstName"
                                id="firstName">
                            <mat-error *ngIf="hasError('firstName', 'required')">Name is required</mat-error>
                            <mat-error *ngIf="hasError('firstName', 'maxlength')">You have more than 60 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" placeholder="Placeholder" formControlName="lastName"
                                id="lastName">
                            <mat-error *ngIf="hasError('lastName', 'required')">Name is required</mat-error>
                            <mat-error *ngIf="hasError('lastName', 'maxlength')">You have more than 60 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" placeholder="Placeholder" formControlName="email" id="email">
                            <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                            <mat-error *ngIf="hasError('email', 'pattern')">Enter valid email address </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Message</mat-label>
                            <textarea matInput placeholder="Placeholder" formControlName="message"
                                id="message"></textarea>
                            <mat-error *ngIf="hasError('message', 'required')">Message is required</mat-error>
                            <mat-error *ngIf="hasError('message', 'minlength')">Enter minimum 10 characters
                            </mat-error>
                            <mat-error *ngIf="hasError('message', 'maxlength')">You have more than 100 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <button type="submit" [disabled]="!contactUsForm.valid" class="btn btn-primary w-100">
                            Send Message
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 px-5">
            How we can help?

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Can I modify or cancel my reservation through Rentcars.com?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <p>Yes, and it’s quite simple. You can modify or cancel your reservation through your
                                account using your registered login and password. We recommend, however, that you
                                thoroughly read the conditions for changing or cancelling a booking beforehand. These
                                can be found in the confirmation voucher sent to your e-mail or by accessing the My
                                Bookings section in your account page.</p>

                            <p>It is important to note that all requested modifications will be subject to availability
                                and possible price changes. Always assess the pros and cons of changing your booking,
                                especially during high season.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            How old do you have to be to rent a car?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>Renting a car under 25 is possible, however, because drivers
                                under 25 years of age are statistically more prone to getting into an accident, most
                                rental companies will charge you an underage fee. Some car rental companies may
                                even consider the minimum age to rent as being 21 but their daily underage surcharges
                                tend to be even steeper.</p>
                            <p>Furthermore, if you’re under 25, you will typically only be allowed to rent smaller cars
                                such as vehicles categorized as Compact or Economic. Most car rental companies will,
                                altogether, not allow you to rent larger categories such as SUVs, Minivans and
                                Luxury Vehicles.</p>

                            <p>If you are under 25 and interested in booking a vehicle or if you´re just in doubt about
                                possible terms and conditions, you can reach out to us through our <a href="#"
                                    target="_blank">Booking Center</a>.
                                We´ll be happy to provide all the necessary information regarding rates and conditions
                                for your rental specifications.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            What´s required when renting a car?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>You must be 25 or older and have held a valid driver’s license for at least 2 years. You
                                must also have a valid passport and an international credit card, issued under your
                                name, with sufficient funds for a credit hold (safety deposit). Additionally, depending
                                on your destination country´s legislation, it´s important to have and hold an
                                International Driving Permit (IDP).<br><br>Important: Keep a printed version of the
                                Booking Confirmation Document with you at all times. Third party credit cards and credit
                                cards that are not issued by banking institutions will not be accepted. Rental companies
                                reserve the right to accept or decline any credit card at their sole discretion.<br><br>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            Which documents will be required of me when picking up my vehicle?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>A valid driver’s license held for at least 2 years.<br>
                                A valid passport.<br>
                                A valid credit card, issued under your name, with sufficient funds for a credit hold
                                (safety
                                deposit).</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>