.delete-picture-wapper {
    position: relative;
    margin-right: 1rem;
}

.delete-picture {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 12px 2px rgb(0 0 0 / 50%);
    background-color: #ff0026;
    border-radius: 12px;
    padding: 4px 16px;
}