<div class="container-fluid px-4">
    <h1 class="mt-4">Driver Information</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">admin/driver-detail</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            Driver Information
            <div class="float-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" (click)="showDriverEditModel()">
                    Edit Information
                </button>



            </div>
        </div>
        <div class="card-body">
            <table class="table caption-top">
                <tbody>
                    <tr>
                        <td>Vehicle Id </td>
                        <td>: </td>
                        <td>{{driver?.id}}</td>
                        <td rowspan="4" colspan="3">
                            <div class="delete-picture-wapper" (click)="removePicture()">
                                <div class="picture-inner-wapper"
                                    [ngStyle]="{'background-image': 'url('+'assets/adminUploads/drivers/'+ ( driver?.profilePicture !='' ? driver?.profilePicture :'dumy-car.jpg') +')'}">
                                </div>
                                <!-- <div class="delete-picture">
                                    DELETE 
                                </div> -->
                            </div>
                            <!-- <img [src]="'assets/adminUploads/drivers/'+ driver?.profilePicture" alt=""> -->
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td> : </td>
                        <td>{{driver?.firstName+" "+ driver?.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td> : </td>
                        <td>{{driver?.email}}</td>

                    </tr>
                    <tr>
                        <td>PhoneNumber </td>
                        <td>: </td>
                        <td>{{driver?.phoneNumber}}</td>

                    </tr>
                    <tr>
                        <td>Licence No </td>
                        <td>:</td>
                        <td>{{driver?.licenceNo}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Is Active </td>
                        <td>:</td>
                        <td>
                            <span class="text-light fw-bold rounded-pill pb-1 px-2 text-capitalize"
                                [ngStyle]="{'background-color': driver?.isActive ? '#198754' : '#dc3545' }">
                                {{ driver?.isActive }}
                            </span>
                        </td>
                        <td>Availability </td>
                        <td>:</td>
                        <td>
                            <span class="text-light fw-bold rounded-pill pb-1 px-2 text-capitalize"
                                [ngStyle]="{'background-color': driver?.availability ? '#198754' : '#dc3545' }">
                                {{ driver?.availability }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Date Added </td>
                        <td>:</td>
                        <td>{{driver?.dateAdded | date:'short'}}</td>
                        <td>Date Updated </td>
                        <td>:</td>
                        <td>{{driver?.dateUpdated | date:'short'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Driver Report
        </div>
        <div class="card-body">

        </div>
    </div>
</div>


<!-- Start Edit New Driver Modal -->
<div class="modal fade" id="editDriverModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editDriverModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="editDriverForm" #editDriverFormDirective="ngForm" autocomplete="off"
                (ngSubmit)="edit(editDriverForm.value, editDriverFormDirective)">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDriverModelLabel">Edit Information</h5>
                    <button type="button" class="btn-close" #hideeditmodel data-bs-dismiss="modal" aria-label="Close"
                        (click)="resetForm(editDriverFormDirective)"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>First Name</mat-label>
                                <input #firstname required matInput type="text" placeholder="Placeholder"
                                    formControlName="firstName">
                                <mat-error *ngIf="hasError('firstName', 'required')">
                                    First Name is required
                                </mat-error>
                                <mat-error *ngIf="hasError('firstName', 'pattern')">Only Alphabets
                                    letters
                                    between 2 to 30 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Last Name</mat-label>
                                <input required matInput type="text" placeholder="Placeholder"
                                    formControlName="lastName">
                                <mat-error *ngIf="hasError('lastName', 'required')">Last Name is required</mat-error>
                                <mat-error *ngIf="hasError('lastName', 'pattern')">Only Alphabets letters without space
                                    between 2 to 30 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Email</mat-label>
                                <input readonly required matInput type="text" placeholder="Placeholder"
                                    formControlName="email">
                                <mat-hint>You cannot change your email address</mat-hint>
                                <!-- <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                                <mat-error *ngIf="hasError('email', 'pattern')">Enter valid email address </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter your password</mat-label>
                                <input required matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                                    id="password">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter Phone Number</mat-label>
                                <input required matInput type="number" placeholder="Placeholder"
                                    formControlName="phoneNumber" id="phoneNumber">
                                <mat-error *ngIf="hasError('phoneNumber', 'required')">Phone number is required
                                </mat-error>
                                <mat-error *ngIf="hasError('phoneNumber', 'pattern')">
                                    Enter valid phone number (0092 or 92 or 03) 025613316
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter Address</mat-label>
                                <input required matInput type="text" placeholder="Placeholder"
                                    formControlName="address">
                                <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
                                <mat-error *ngIf="hasError('address', 'pattern')">Only Alphabets letters without space
                                    between 2 to 30 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Choose Availability</mat-label>
                                <mat-select matNativeControl formControlName="availability" required>
                                    <mat-option>---Select Availability---</mat-option>
                                    <mat-option *ngFor="let option of optionsValue" [value]="option.value">
                                        {{option.text}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('availability', 'required')">
                                    Please select availability
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Choose Active Status</mat-label>
                                <mat-select matNativeControl formControlName="isActive" required>
                                    <mat-option>---Select Active Status---</mat-option>
                                    <mat-option *ngFor="let option of optionsValue" [value]="option.value">
                                        {{option.text}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('isActive', 'required')">
                                    Please select active status
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Licence No</mat-label>
                                <input required matInput type="text" placeholder="Placeholder"
                                    formControlName="licenceNo">
                                <mat-error *ngIf="hasError('licenceNo', 'required')">Licence no is required</mat-error>
                                <mat-error *ngIf="hasError('licenceNo', 'pattern')">Only Alphabets letters without space
                                    between 2 to 30 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="profilePicture" class="col-form-label">Choose Profile Picture:</label>
                                <input formControlName="profilePicture" id="profilePicture" type="file"
                                    class="form-control" (change)="onFileChange($event)" accept="image/*">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="resetForm(editDriverFormDirective)">Cancel</button>
                    <button type="submit" [disabled]="!editDriverForm.valid || isLoading" class="btn btn-success">
                        {{ ( isLoading ? 'Loading...' : 'Update Driver') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<button hidden type="button" class="btn btn-primary" #showeditmodel data-bs-toggle="modal"
    data-bs-target="#editDriverModel">
    Edit
</button>
<!-- End Edit New Driver Modal -->