<div class="container-fluid px-4">
    <h1 class="mt-4">Vehicles</h1>
    <ol class="breadcrumb mb-2">
        <!-- <li class="breadcrumb-item active">admin/vehicle</li> -->
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    Total Vehicles
                    <span class="float-end">{{counts?.totalVehicles}}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">
                    Pending Vehicles
                    <span class="float-end">{{counts?.pendingVehicles}}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    Approved Vehicles
                    <span class="float-end">{{counts?.approvedVehicles}}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">
                    Blocked Vehicles
                    <span class="float-end">{{counts?.blockedVehicles}}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    Availabe Vehicles
                    <span class="float-end">{{counts?.availableVehicles}}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">
                    Booked Vehicles
                    <span class="float-end">{{counts?.bookedVehicles}}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">
                    XYZ Vehicles
                    <span class="float-end">000</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">
                    XYZ Vehicles
                    <span class="float-end">000</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <!-- <i class="fas fa-table me-1"></i> -->
            Vehicles
            <div class="float-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addVehicleModel">
                    Add New Vehicle
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="mat-elevation-z8">
                <table #VehicleTable="matTable" mat-table [dataSource]="vehicles" matSort #VehicleSort="matSort">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>

                    <!-- Maker Name Column -->
                    <ng-container matColumnDef="makerId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Maker Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.maker?.displayName}} </td>
                    </ng-container>

                    <!-- Maker Name Column -->
                    <ng-container matColumnDef="modelId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.model?.displayName}} </td>
                    </ng-container>

                    <!-- Registration Number Column -->
                    <ng-container matColumnDef="registrationNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration# </th>
                        <td mat-cell *matCellDef="let row"> {{row.registrationNumber}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let row">
                            <span class="text-light fw-bold rounded-pill py-2 px-3 text-capitalize"
                                [ngStyle]="{'background-color': row.status === 'pending' ? '#ffc107' : (row.status === 'approved' ? '#198754' : '#dc3545') }">
                                {{row.status}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Availability Column -->
                    <ng-container matColumnDef="availability">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Availability </th>
                        <td mat-cell *matCellDef="let row">
                            <span class="text-light fw-bold rounded-pill py-2 px-3 text-capitalize"
                                [ngStyle]="{'background-color': row.availability ? '#198754' : '#dc3545' }">
                                {{row.availability}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                        <td mat-cell *matCellDef="let row"> {{row.price}} </td>
                    </ng-container>

                    <!-- Date Added Column -->
                    <ng-container matColumnDef="dateAdded">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Added </th>
                        <td mat-cell *matCellDef="let row"> {{row.dateAdded | date:'short'}} </td>
                    </ng-container>

                    <!-- Date Updated Column -->
                    <ng-container matColumnDef="dateUpdated">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Updated </th>
                        <td mat-cell *matCellDef="let row"> {{row.dateUpdated | date:'short'}} </td>
                    </ng-container>


                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="viewVehicle(row)">
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteVehicle(row)">
                                <mat-icon>
                                    delete
                                </mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="VehicleColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: VehicleColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="text-center mat-cell" colspan="10">No data found.</td>
                    </tr>
                </table>

                <mat-paginator #VehiclePaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<!-- Add New Vehicle Modal -->
<div class="modal fade" id="addVehicleModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addVehicleModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">



            <form [formGroup]="addVehicleForm" #addVehicleFormDirective="ngForm" autocomplete="off"
                (ngSubmit)="addVehicle(addVehicleForm.value, addVehicleFormDirective)">
                <div class="modal-header">
                    <h5 class="modal-title" id="addVehicleModelLabel">Add New Vehicle</h5>
                    <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"
                        (click)="resetForm(addVehicleFormDirective)"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Selct maker Name</mat-label>
                                <mat-select (selectionChange)="changeVehicleMacker($event.value)" matNativeControl
                                    formControlName="makerId" required>
                                    <mat-option>---Select Maker---</mat-option>
                                    <mat-option *ngFor="let maker of vehicleMakers" [value]="maker.id">
                                        {{maker.displayName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('makerId', 'required')">
                                    Please select maker
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Selct model Name</mat-label>
                                <mat-select matNativeControl formControlName="modelId" required>
                                    <mat-option>---Select Model---</mat-option>
                                    <mat-option *ngFor="let model of vehicleModelsFilter" [value]="model.id">
                                        {{model.displayName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('modelId', 'required')">
                                    Please select model
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Selct city name</mat-label>
                                <mat-select matNativeControl formControlName="cityId" required>
                                    <mat-option>---Select City---</mat-option>
                                    <mat-option *ngFor="let city of cities" [value]="city.id">
                                        {{city.cityName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('cityId', 'required')">
                                    Please select city
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter model year</mat-label>
                                <input required matInput type="number" placeholder="YYYY" formControlName="modelYear"
                                    id="modelYear">
                                <mat-error *ngIf="hasError('modelYear', 'required')">Model year is required
                                </mat-error>
                                <mat-error *ngIf="hasError('modelYear', 'pattern')">
                                    Please enter valid year (format:YYYY)
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Registration No</mat-label>
                                <input required matInput type="text" placeholder="Placeholder"
                                    formControlName="registrationNumber" id="registrationNumber">
                                <mat-error *ngIf="hasError('registrationNumber', 'required')">
                                    Registration no is required
                                </mat-error>
                                <mat-error *ngIf="hasError('registrationNumber', 'pattern')">
                                    Enter letters between 2 to 30 characters
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter Color</mat-label>
                                <input required matInput type="text" placeholder="Placeholder"
                                    formControlName="color">
                                <mat-error *ngIf="hasError('color', 'required')">Color is required</mat-error>
                                <mat-error *ngIf="hasError('color', 'pattern')">Only Alphabets letters between 2 to
                                    30 characters</mat-error>
                                <!-- <mat-select matNativeControl formControlName="color" required>
                                    <mat-option>---Select Color---</mat-option>
                                    <mat-option value="res">Red</mat-option>
                                    <mat-option value="green">Green</mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('color', 'required')">
                                    Please select color
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter price/day</mat-label>
                                <input required matInput type="number" placeholder="4000" formControlName="price"
                                    id="price">
                                <mat-error *ngIf="hasError('price', 'required')">Price is required
                                </mat-error>
                                <mat-error *ngIf="hasError('price', 'pattern')">
                                    Price must be greater than 999 and less than 99,999
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Choose Availability</mat-label>
                                <mat-select matNativeControl formControlName="availability" required>
                                    <mat-option>---Select Availability---</mat-option>
                                    <mat-option value="true">True</mat-option>
                                    <mat-option value="false">False</mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('availability', 'required')">
                                    Please select availability
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Choose Status</mat-label>
                                <mat-select matNativeControl formControlName="status" required>
                                    <mat-option>---Select Status---</mat-option>
                                    <mat-option value="pending">Pending</mat-option>
                                    <mat-option value="approved">Approved</mat-option>
                                    <mat-option value="blocked">Blocked</mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('status', 'required')">
                                    Please select status
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="imagesPath" class="col-form-label">Choose Profile Picture:</label>
                                <input formControlName="imagesPath" id="imagesPath" type="file" multiple
                                    class="form-control" (change)="onFileChange($event)" accept="image/*">
                                <p *ngIf="fileMessage!=''">{{fileMessage}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="resetForm(addVehicleFormDirective)">Cancel</button>
                    <button type="submit" [disabled]="!addVehicleForm.valid || isLoading" class="btn btn-success">
                        {{ ( isLoading ? 'Loading...' : 'Add Vehicle') }}
                    </button>
                </div>
            </form>


            <!-- <form novalidate #addvehicleform="ngForm" (submit)="addVehicle(addvehicleform)">
                <div class="modal-header">
                    <h5 class="modal-title" id="addVehicleModelLabel">Add New Vehicle</h5>
                    <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="makerId" class="col-form-label">Selct Maker Name:</label>
                                <select (change)="changeVehicleMacker(newVehicle.makerId)" required class="form-control"
                                    name="makerId" id="makerId" #makerId="ngModel" [(ngModel)]="newVehicle.makerId"
                                    [class.invalid]="{'invalid-textbox' : makerId.invalid && makerId.touched }">
                                    <option *ngFor="let maker of vehicleMakers" [value]="maker.id">
                                        {{maker.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="modelId" class="col-form-label">Selct Model Name:</label>
                                <select required class="form-control" name="modelId" id="modelId" #modelId="ngModel"
                                    [(ngModel)]="newVehicle.modelId"
                                    [class.invalid]="{'invalid-textbox' : modelId.invalid && modelId.touched }">
                                    <option *ngFor="let model of vehicleModelsFilter" [value]="model.id">
                                        {{model.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="cityId" class="col-form-label">Selct City Name:</label>
                                <select required class="form-control" name="cityId" id="cityId" #cityId="ngModel"
                                    [(ngModel)]="newVehicle.cityId"
                                    [class.invalid]="{'invalid-textbox' : cityId.invalid && cityId.touched }">
                                    <option *ngFor="let city of cities" [value]="city.id">
                                        {{city.cityName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="modelYear" class="col-form-label">Model Year:</label>
                                <input required maxlength="4" type="number" class="form-control" name="modelYear"
                                    id="modelYear" #modelYear="ngModel" [(ngModel)]="newVehicle.modelYear"
                                    [class.invalid]="modelYear.invalid && modelYear.touched">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="registrationNumber" class="col-form-label">Registration #:</label>
                                <input required type="text" class="form-control" name="registrationNumber"
                                    id="registrationNumber" #registrationNumber="ngModel"
                                    [(ngModel)]="newVehicle.registrationNumber"
                                    [class.invalid]="registrationNumber.invalid && registrationNumber.touched">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="color" class="col-form-label">Color:</label>
                                <input required type="text" class="form-control" name="color" id="color"
                                    #color="ngModel" [(ngModel)]="newVehicle.color"
                                    [class.invalid]="color.invalid && color.touched">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="price" class="col-form-label">Price Per Day:</label>
                                <input required type="number" class="form-control" name="price" id="price"
                                    #price="ngModel" [(ngModel)]="newVehicle.price"
                                    [class.invalid]="price.invalid && price.touched">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="availability" class="col-form-label">Choose Availability:</label>

                                <select class="form-control" name="availability" id="availability"
                                    #availability="ngModel" [(ngModel)]="newVehicle.availability"
                                    [class.invalid]="availability.invalid && availability.touched">
                                    <option value="true">True</option>
                                    <option selected value="false">False</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Choose Status:</label>

                                <select class="form-control" name="status" id="status" #status="ngModel"
                                    [(ngModel)]="newVehicle.status" [class.invalid]="status.invalid && status.touched">
                                    <option selected value="pending">Pending</option>
                                    <option value="approved">Approved</option>
                                    <option value="blocked">Blocked</option>
                                </select>
                            </div>
                        </div>
                        <input #imagesPath="ngModel" name="imagesPath" id="imagesPath" type="file" multiple
                            class="form-control" (change)="onFileChange($event)" [(ngModel)]="newVehicle.imagesPath"
                            accept="image/*">
                        <p *ngIf="fileMessage!=''">{{fileMessage}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" [disabled]="addvehicleform.invalid" class="btn btn-primary">Add
                        Vehicle</button>
                </div>
            </form> -->
        </div>
    </div>
</div>

<!-- Delete Vehicle Model -->
<div class="modal fade" id="deleteVehicleModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteVehicleModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteVehicleModelLabel">Delete Vehicle</h5>
                <button type="button" class="btn-close" #hidedeletemodel data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this vehicle?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button [disabled]="isLoading" type="submit" class="btn btn-primary" (click)="confirmDeleteVehicle()">
                    {{ ( isLoading ? 'Loading...' : 'Delete') }}
                </button>
            </div>
        </div>
    </div>
</div>

<button hidden type="button" class="btn btn-primary" #showdeletemodel data-bs-toggle="modal"
    data-bs-target="#deleteVehicleModel">
    Add New Vehicle
</button>