/* You can add global styles to this file, and also import other style files */

input.invalid {
    border-color: red;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
}

.card-body {
    /* padding: 0 !important; */
}

.mat-elevation-z8 {
    box-shadow: none !important;
}

.cdk-overlay-container {
    z-index: 9999 !important;
}

.alreday-added-error {
    font-size: 75%;
    margin: 0;
    margin-left: 12px;
    margin-top: -20px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

input {
    -moz-appearance: textfield;
}


.carousel-control-next-icon, .carousel-control-prev-icon {     
    background-position: center !important;
    background-size: 70% 70% !important;
    background-color: #000 !important; 
    border-radius: 50% !important;
    color: #fff !important;
    padding: 30px !important;
}

.mat-step-header.cdk-keyboard-focused, 
.mat-step-header.cdk-program-focused, 
.mat-step-header:hover:not([aria-disabled]), 
.mat-step-header:hover[aria-disabled=false],
.mat-step-header:hover,
.mat-step-header
{
    background-color: white;
}
.mat-horizontal-stepper-header{
    pointer-events: none !important;
}