/* You can add global styles to this file, and also import other style files */

input.invalid {
    border-color: red;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
}

.card-body {
    /* padding: 0 !important; */
}

.mat-elevation-z8 {
    box-shadow: none !important;
}

.cdk-overlay-container {
    z-index: 9999 !important;
}