<div class="container-fluid px-4">
    <h1 class="mt-4">Inquiries Details</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">admin/Inquiries</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Total Inquiries</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">ReplayInquiries</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Pending Vehicles</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Booked Vehicles</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Inquiries
        </div>
        <div class="card-body p-0">
            <div class="mat-elevation-z8">
                <table #InquiriesTable="matTable" mat-table [dataSource]="inquiries" matSort #InquiriesSort="matSort">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.firstName + " "+ row.lastName}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <!-- Message Column -->
                    <ng-container matColumnDef="message">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Message </th>
                        <td mat-cell *matCellDef="let row"> {{row.message}} </td>
                    </ng-container>

                    <!-- Date Added Column -->
                    <ng-container matColumnDef="dateAdded">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Added </th>
                        <td mat-cell *matCellDef="let row"> {{row.dateAdded | date:'short'}} </td>
                    </ng-container>

                    <!-- Date Updated Column -->
                    <ng-container matColumnDef="dateUpdated">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Updated </th>
                        <td mat-cell *matCellDef="let row"> {{row.dateUpdated | date:'short'}} </td>
                    </ng-container>


                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button>
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon>
                                    delete
                                </mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="InquiriesColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: InquiriesColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <!-- <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr> -->
                </table>

                <mat-paginator #InquiriesPaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>